<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">❄</div>
  </div>
  <div class="banner">
    <!--<img src="/images/lan-banner.png" alt="lan-banner"/>-->
  </div>
  <div class="main">
    <h2 style="font-weight: bolder">Vánoční LAN party 2019</h2>
    <!--<p>Welcome to <%= title %></p>-->

    <div class="content">
      <div class="download">
        <h3>Call of Duty 2</h3>
        <div class="download-box">
          <h5>COD 2 hra:</h5>
          <button id="cod2GameBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>Mapa Vsetin:</h5>
          <button id="cod2MapVsetinBut" class="btn btn-success btn-sm">Download</button>
          <h5 style="margin-left: 20px">Mapa Zamek:</h5>
          <button id="cod2MapZamekBut" class="btn btn-success btn-sm">Download</button>
          <h5 style="margin-left: 20px">Mapa Pavlov:</h5>
          <button id="cod2MapPavlovBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>Patch 1.3:</h5>
          <button id="cod2PatchBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>CD-keys:</h5>
          <!-- Small modal -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cod2KeysModal">
            Show CD keys
          </button>

          <!-- Modal -->
          <div class="modal fade" id="cod2KeysModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COD 2 CD keys</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  XEZL-GZWX-XQZG-GEGU-EEFC

                  WUEH-ALAL-67WW-6UQX-A771

                  WH7U-P5AJ-6QJ3-UQQP-C04A

                  WH5G-AHAG-6QQ5-66Q5-4A61

                  WHUE-A55G-6QL6-6QG5-C92C

                  WULQ-HU7X-67UA-GLZL-66A5

                  WH5H-LX77-6QQW-Z3ZZ-25F8

                  W5HE-AJ3W-6666-67UH-3D0A

                  WAXQ-6A73-6W3A-AGZU-574E

                  WULZ-WUUG-67U7-5L35-4379

                  WHAG-L3QH-6QG5-ZXAW-3FC5

                  WULP-ZLPL-67UJ-LUJX-0AD3

                  WAQQ-56LJ-6W5A-WHXP-FD7A

                  WH63-EW7W-6QHU-QEZH-ADC2

                  WHXW-LU6G-6Q3H-ZLE5-F855

                  WU5H-QZA7-67QW-EPQZ-7016

                  WH7J-3XW7-6QJP-J3HZ-3B14

                  WH3P-GWA5-6QXJ-HEQG-603E

                  WHLX-JLXW-6QUL-3ULH-107A

                  W5E7-3L65-66WZ-JUEG-32D4

                  WAQ7-6EUX-6W5Z-AW3L-7529

                  WUJW-XWWL-677H-7EHX-718E

                  WUPJ-L5WZ-67ZP-ZQH7-A4AF

                  WUPJ-L5WZ-67ZP-ZQH7-A4AF

                  WH3A-3AZ7-6QXQ-JG7Z-4ABE

                  WHXL-PXEW-6Q3X-U36H-5AB2

                  WUH6-HGEX-676E-GA6L-4C92

                  WUEQ-5XAP-67WA-W3QJ-530D

                  WUQH-JEHP-675W-3WWJ-F8CC

                  WU5U-Q6WP-67Q3-EHHJ-D76E
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <pre>
        <code>
CONFIG
OŘEZÁNÍ TEXTUR (VOLITELNÉ) = zvýšení viditelnosti a FPS
- Spustit multiplayer -> Otevřít konzoli (klávesa "~" pod "ESC") -> Smazat vše co se v řádku nachází -> Zadat (po jednom) tyto příkazy:
/com_maxfps 250
/r_polygonOffsetBias 16
/r_polygonOffsetScale 4
/cg_drawfps 1
/r_drawsun 0
/cg_brass 0
/cg_blood 0
/cg_marks 0

JMÉNO VE HŘE
- Spustit multiplayer -> Otevřít konzoli (klávesa "~" pod "ESC") -> Smazat vše co se v řádku nachází -> Zadat tento příkaz:
/name VÁŠ NICK
        </code>
        </pre>
        <!--<textarea>-->
          <!--hmmmmmmm-->
          <!--uhuhuhuhuhsdfjasdlk-->
          <!--sdafasdfasd-->
        <!--</textarea>-->
      </div>

      <div class="download">
        <h3>Battlefield 2</h3>
        <div class="download-box">
          <h5>BF 2 hra:</h5>
          <button id="bf2GameBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>Patch 1.41:</h5>
          <button id="bf2PatchBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>Crack 1.41:</h5>
          <button id="bf2CrackBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <pre>
          <code>
CONFIG
úprava rozlišení:
- zástupce --> Vlastnosti --> Cíl: C:\Program Files\EA GAMES\Battlefield 2\BF2.exe" +menu 1 +fullscreen 1 +szx 1920 +szy 1080 -- např.
NEBO
- C:\Users\Administrator\Documents\Battlefield 2\Profiles\Default\Video.con --> Otevřít v notepadu a najít řídek VideoSettings.setResolution 1400x1050@85Hz --> upravit rozlišení

Crash fix:
- Spustit hru --> Minimalizovat --> Správce úloh --> proces BF2.exe --> Nastavit spřažení --> pouze CPU 0
          </code>
        </pre>
      </div>

      <div class="download">
        <h3>Call of duty 4</h3>
        <div class="download-box">
          <h5>COD 4 komplet:</h5>
          <button id="cod4GameBut" class="btn btn-success btn-sm">Download</button>
        </div>
        <div class="download-box">
          <h5>CD-keys:</h5>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cod4KeysModal">
            Show CD keys
          </button>

          <!-- Modal -->
          <div class="modal fade" id="cod4KeysModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COD 4 CD keys</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  DQ8G SWEJ PEDQ SPPG 7162
                  MDSL D4TU QJJP UG8Y 7F05
                  MPDT UUEE TTEW PEQ4 5EB9
                  QPUW YDSJ GUPY DSTY 4759
                  TD8W LQMU SS8G MDUP 0232
                  QPPU 4GPY WG8M TE8D C313
                  USST JEET MGP4 SGPY AAE2
                  DLUY S8LS JTEP LPJW 7AF3
                  L2J4 2W8G DTYT J4MU B039
                  YUTJ 2TS8 TL8E J2Y4 1E7D
                  8EGE S4MW QD8Q WGYJ CC66
                  G2LS U44G D2GY PJG2 64BE
                  W8PL QEGQ 4QDE 8TTW F471
                  TL2M MJUP SJLD 2LGP 5F77
                  4YSW UYLW JSDS USJ8 4D57
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="download">
        <h3>Trackmania</h3>
        <div class="download-box">
          <h5>Trackmania hra:</h5>
          <button id="trackmaniaGameBut" class="btn btn-success btn-sm">Download</button>
        </div>
      </div>

      <div class="download">
        <h3>Smokin' guns</h3>
        <div class="download-box">
          <h5>Smokin' guns hra:</h5>
          <button id="smokinGameBut" class="btn btn-success btn-sm">Download</button>
        </div>
      </div>
    </div>
    </div>
  <div class="chat-wrapper">
    <h3>Chat</h3>
    <div id="notifyCheckboxWrapper" style="display: none;align-items: center; justify-content: center; color: white;width: 100%;font-size: larger;">
      <label for="notifyCheckbox">On/Off:</label>
      <input id="notifyCheckbox" style="margin-bottom: 0.3rem; margin-left: 0.3rem;cursor: pointer;width: 18px; height: 18px;" type="checkbox"/>
    </div>
  <div class="chat">
    <div id="chat-window" class="chat-window">
        <% snippets.forEach(function (snipp) { %>
        <div class="chat-message"><div class="chat-message__message" style="background-color: <%= snipp.color %>"><%= snipp.content %></div> <span class="chat-message__text"><%= snipp.nick%></span></div>
        <% }); %>
    </div>
    <div class="chat-input">
      <label style="color: white;align-self: flex-start;" for="chat-input-nick">Nick:</label>
      <input id="chat-input-nick" class="text-window"/>
      <button id="colorBut" style="margin-bottom: 10px" class="btn btn-sm btn-warning btn-block">Choose your color</button>
      <div style="display: flex; width: 100%;">
        <button id="resetBut" style="margin-bottom: 10px;" class="btn btn-sm btn-danger btn-block">Reset all</button>
        <button id="setBut" style="margin-bottom: 10px;" class="btn btn-sm btn-success btn-block">Set all</button>
      </div>
      <div style="display: none" class="wheel" id="colorWheelDemo"></div>
      <div style="display: flex; justify-content: space-between;width: 100%;">
        <label id="chat-input-label" style="color: white;display: none;align-self: flex-start;" for="chat-input-contentk">Message:</label>
      </div>
      <div style="position: relative;width: 100%;">
        <textarea rows="4" style="display: none" rows="3" id="chat-input-content" class="text-window"></textarea>
        <span id="emoji-hint" class="emoji-hint">Emoji: Win -> Win+.  Mac -> Ctrl+Cmd+Space</span>
      </div>
      <button style="display: none" id="chat-button" class="btn btn-sm btn-info btn-block">Send</button>
    </div>
  </div>
  </div>
  </body>
  <script src="/javascripts/iro.min.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</html>
