@font-face {
  font-family: "Futura";
  src: url("public/fonts/futura.ttf");
}

body {
  /*width: 100%;*/
  height: 100%;
  font: 14px Futura, "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: #C10C06;
}

/*button {*/
  /*border-radius: 10px;*/
  /*background-color: dimgray;*/
  /*border-color: dimgray;*/
  /*color: #fff;*/
/*}*/

pre{
  margin: 1rem 0;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  /*width: 650px;*/
  /*padding-bottom: 20px;*/
  max-height: 600px;
  border-radius: 10px;
  text-align: left;
  cursor: text;
  word-break: break-word;
  white-space: pre-line;
}

.banner {
  /*width: 300px;*/
  height: 300px;
  display: flex;
  justify-content: center;

  background: url("/images/lan-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}

.content {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.download {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  align-content: baseline;
}

.download-box {
 display: flex;
  align-items: center;
}

.download-box h5 {
  margin: 0;
  margin-right: 15px;
  font-size: 18px;
}


.chat-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-wrapper h3 {
  color: white;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;

  padding: 0.5rem 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.chat {
  padding: 2rem;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-column-gap: 1rem;
}

.chat-window {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 1rem;

  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  background-color: #5a6268;

  height: 500px;
  align-self: start;
}

.chat-message {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.chat-message__message {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  width: fit-content;
  word-break: break-word;
  text-align: justify;
  background-color: cadetblue;
  color: white;
}

.chat-message__text {
   font-size: 0.8rem;
   font-style: italic;
  color: white;
 }


.chat-input {
 display: flex;
  flex-direction: column;
  align-items: center;
}

.text-window {
  outline: none;
  border: none;
  width: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: justify;

  color: dimgray;
  margin-bottom: 0.5rem;
}

.emoji-hint {
  position: absolute;
  bottom: 15px;
  right: 5px;
  font-size: 10px;
  opacity: 0.7;
  display: none;
}







/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{
  0%{
    top:-10%
  }100%{top:100%}
}
@-webkit-keyframes snowflakes-shake{
  0%{
    -webkit-transform:translateX(0px);transform:translateX(0px)
  }
  50%{
    -webkit-transform:translateX(80px);transform:translateX(80px)
  }
  100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}

@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color:#fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
  color: #000;
}


.modal-header, .modal-footer {
  padding: 0.5rem 0.5rem;
}

.modal-title, .modal-body {
  color: #1d2124;
  white-space: pre-line;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

  transition: 0.3s all;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d2124;
}
